p.MuiTablePagination-selectLabel,
p.css-pdct74-MuiTablePagination-selectLabel
{
    margin-bottom: "0px" !important;
}

.MuiTablePagination-displayedRows, 
.css-levciy-MuiTablePagination-displayedRows
{
    margin-bottom: "0px !important";
}


.MuiDataGrid-columnHeaders, 
.css-f3jnds-MuiDataGrid-columnHeaders
{
background-color: "black !important ";
}