.App {
  text-align: center;
}

.locationBox {
  font-family: UberMoveText-Regular !important;
  font-size: 16px !important;
  height: 48px;
  line-height: 24px !important;
  color: #262626;
  border: 1px solid #e0e0e0;
  font-weight: 500;
  padding: 8px 18px;
  width: 100%;
  padding: 8px 18px;
  transition: all 0.4s ease !important;
  user-select: none !important;
}

.homecolor:hover {
  background-color: #9fafcf;
}

/* .bck-img{
  background-image: url('s.png');
  z-index: 1;
} */

.linkHighlight {
  color: #08b512;
}
.linkHighlight:hover {
  color: #1170d6;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appHeadings {
  font-size: "20px";
  margin: "10px";
  font-weight: "600";
}

.loginInput::hover {
  border-color: "#063970";
  border-radius: "20px";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search {
  position: relative;
}

.search button,
.search span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search > * > svg {
  display: block;
}

.search span {
  left: 20px;
  opacity: 0.5;
  margin-top: 1px;
}

.search button {
  right: 20px;
  left: auto;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  color: #333;
}

.search button:hover {
  color: #063970;
}

.search input {
  box-sizing: border-box;
  display: block;
  width: 650px;
  height: 70px;
  border-radius: 5px;
  padding: 0 50px 0 45px;
  font-size: 20px;
  outline: none;
  border: 2px solid #063970;
  background: rgb(255, 255, 255);
}

.homeBanner{
      font-family: Eina, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        text-size-adjust: none;
        background-repeat: no-repeat;
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        background-position: right center;
        background-color: #aedbde;
        max-height: 220px;
        background-size: auto;
}

.homeBanner1{
        width: 100%;
        max-width: 1368px;
        position: relative;
        -webkit-box-pack: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 100px;
}

                  

